<% if (ctx.flash.success || ctx.flash.warning){ %>

<% if (ctx.flash.success){ %>
<div class="alert alert-success">
    <a href="javascript:void(0)" onclick="location.reload()" class="close" data-dismiss="alert">
        &times;
    </a>
    <strong>
        <%= ctx.flash.success %></strong>
</div>
<%} else if ( ctx.flash.warning) {%>
<div class="notification is-warning">
    <div class="alert alert-warning">
        <a href="javascript:void(0)" onclick="location.reload()" class="close" data-dismiss="alert">
            &times;
        </a>
        <strong>
            <%= ctx.flash.warning %></strong>
    </div>
</div>
<% } %>

<% }else{ %>

<% } %>